html {

    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/393/246/desktop-wallpaper-macbook-m1-macbook-air-m1.jpg');
    background-size: cover; /* Optional: Adjusts how the image is displayed */
    background-repeat: no-repeat; /* Optional: Prevents image repetition */
}

.outerbox {
    padding: 10px;
    /* White with 55% transparency */
}

.links a {
    color: black;
    text-decoration: none; /* Remove the underline */
    transition: color 0.3s; /* Add a smooth color transition effect */
    font-size: 30px;
}

.links a:hover {
    color: gray; /* Change the color when hovered */
}

.container {
    display: flex;
    justify-content: center;
  padding: 10px;
    background-color: rgba(255, 255, 255, 0.55); /* White with 55% transparency */
   border-radius: 22px;
  margin-bottom: 25px;
}

.profile {
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

img {
    height: 200px;
    width: auto;
    mix-blend-mode: color-burn;
    mix-blend-mode: darken;
}

.intro {
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    margin-bottom: 8px;
}
#hi {
    font-size: 0px;
}

#para {
    font-size: 30px;
}

#div_tags {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

#div2 {
  width: 50%;
        height: 50%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.55); 
   border-radius: 25px;
  margin-bottom: 25px;
}

.skills {
   width: 50%;
  height: 229px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.55); 
   border-radius: 25px;
  margin-bottom: 25px;
  display: inline; 
        
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.55); 
   border-radius: 25px;
  margin-bottom: 25px;
}

#aditya {
    font-size: 40px;
    margin-left: 10px;
    
}

.links {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

#ps {
    font-weight: 600;
}

@media (min-width: 851) and (max-width: 1070px){
    h1{
        font-size: 40px;
    }
    #para {
        font-size: 20px;
    }
    .intro {
        flex-basis: 600px;
    }
    #div_tags {
        margin-left: 30px;
    }

}
@media (max-width: 850px) {
    img {
        height: 0px;
    }
    #hi {
        font-size: 1em;
    }
    h1{
        font-size: 40px;
    }
    #para {
        font-size: 20px;
    }
    .profile{
        gap: 0px;
    }
    #div_tags {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: start;
    }
    #div2 {
        font-size: 18px;
    }
    .skills {
        font-size: 18px;
    }
}
